<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vedanshtechnologies.swipetouch">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.swipetouch.Activities.NoticeDetailActivity"></activity>
        <activity android:name="com.swipetouch.Activities.LeaveStatusActivity" />
        <activity android:name="com.swipetouch.Activities.LeaveApplicationActivity" />
        <activity android:name="com.swipetouch.Activities.CustomYearlyPercents" />
        <activity android:name="com.swipetouch.Activities.YearlyPercentageActivity" />
        <activity android:name="com.swipetouch.Activities.Simple_Calender_Activity" />
        <activity android:name="com.swipetouch.Activities.MainCalenderActivity" />
        <activity android:name="com.swipetouch.Activities.TestCalender" />
        <activity android:name="com.swipetouch.Activities.customcalender" />
        <activity android:name="com.swipetouch.Activities.HolidayActivity" />
        <activity android:name="com.swipetouch.Activities.SettingActivity" />
        <activity android:name="com.swipetouch.Activities.LibraryActivity" />
        <activity android:name="com.swipetouch.Activities.ActivitiesActivity" />
        <activity android:name="com.swipetouch.Activities.ProjectsActivity" />
        <activity android:name="com.swipetouch.Activities.HomeWorkActivity" />
        <activity android:name="com.swipetouch.Activities.AcadmicfeedbackActivity" />
        <activity android:name="com.swipetouch.Activities.BirthdayActivity" />
        <activity android:name="com.swipetouch.Activities.NewsEventActivity" />
        <activity android:name="com.swipetouch.Activities.WriteToSchoolActivity" />
        <activity android:name="com.swipetouch.Activities.SmsActivity" />
        <activity android:name="com.swipetouch.Activities.MyTeacherActivity" />
        <activity android:name="com.swipetouch.Activities.PersonalDetailActivity" />
        <activity android:name="com.swipetouch.Activities.ExamReportActivity" />
        <activity android:name="com.swipetouch.Activities.OnlineTestActivity" />
        <activity android:name="com.swipetouch.Activities.OnlineClassesActivity" />
        <activity android:name="com.swipetouch.Activities.TransportActivity" />
        <activity android:name="com.swipetouch.Activities.LibraryActvity" />
        <activity android:name="com.swipetouch.Activities.FeesActivity" />
        <activity android:name="com.swipetouch.Activities.SyllabusActivty" />
        <activity android:name="com.swipetouch.Activities.TimeTable" />
        <activity android:name="com.swipetouch.Activities.CelenderActivity" />
        <activity android:name="com.swipetouch.Activities.ENoticeActivity" />
        <activity android:name="com.swipetouch.Activities.AssignmentActivity" />
        <activity android:name="com.swipetouch.Activities.AttendanceActivity" />
        <activity android:name="com.swipetouch.Activities.HomeActivity" />
        <activity android:name="com.swipetouch.Activities.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>